
{% load static %}

<div class="panel panel-default target">
                <div class="panel-heading" contenteditable="false">Treasured memories </div>
                <div class="panel-body">
                  <div class="row">
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img alt="300x200" src="{% static 'pet_profiles/christmas_tree.jpeg' %}">
                        <div class="caption">
                            <h3>
                                Christmas
                            </h3>
                            <p>
                                Meow meow's Christmas time in Christchurch
                            </p>
                            <p>

                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img alt="300x200" src="{% static 'pet_profiles/baby.jpg' %}">
                        <div class="caption">
                            <h3>
                                Baby
                            </h3>
                            <p>
                                Meow meow's sweet baby photos
                            </p>
                            <p>

                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img alt="300x200" src="{% static 'pet_profiles/lazy.jpeg' %}">
                        <div class="caption">
                            <h3>
                                Lazing around
                            </h3>
                            <p>
                                The daily routines
                            </p>
                            <p>

                            </p>
                        </div>
                    </div>
                </div>
            </div> <!-- inner row -->
                </div> <!-- panel body -->

            </div>